<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mapbox Navigation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex;padding:16px">
    <ion-input #latRef placeholder="Enter the lat" value="" style="margin-right: 8px;"></ion-input>
    <ion-input #lngRef placeholder="Enter the lng" value=""></ion-input>
  </div>

  <div style="display: flex;align-items: center;justify-content: center;">
    <ion-button color="primary" (click)="setDirection(latRef.value, lngRef.value)">Set Direction</ion-button>
  </div>
</ion-content>
